<!DOCTYPE html>
<html lang="fr">
<head>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <header>Facemash</header>

  <section id="content">
      <h1>Bienvenue sur mon blog</h1>
      <p>La date actuelle est : {{ date }}</p>
      {% load static %}
      <img src="{% static 'comparateur/maquette.png' %}" alt="Mon image" />
      {% block content %}{% endblock %}
  </section>

  <footer>&copy; Facemash</footer>
</body>
</html>