<!DOCTYPE html>
<html lang="fr">
<head>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <header>
    <h1>Facemash</h1>
  </header>

  <section>
      <div id="contenu">
        <div id="">
          
        </div>  
      </div>
  </section>

  <footer>
    <div id="statistique">
      <h1>Statistique</h1>
    </div>
    <div id="basPage">
      <p>&copy; Facemash</p>
    </div>
  </footer>
</body>
</html>