*{
	margin: 0;
	padding: 0;
}
body{
	
}

/********************************************* HEADER *********************************************/
/**************************************************************************************************/ 
header{
	width: 100%;
	background: black;
}
header h1{
	color: white;
	padding: 10px;
	text-align: center;
	font-family: Montserrat;
}

/********************************************* SECTION *********************************************/
/***************************************************************************************************/ 
section{
	width: 100%;
	background: white;
	font-family: lato;
}
section #contenu{
	margin: 0 auto;
}
section #contenu h2{
	color: black;
	text-align: center;
	margin: 25px 0 0 0;
}
section #image{
	margin: 50px;
}
section #image table{
	margin: 0 auto;
}
section #image table td{
	text-align: center;
	font-size: 25px;
}
section #image img{
	width: 300px;
	height: 300px;
	border: 2px solid silver;
	padding: 5px;
	border-radius: 3px;
	background: white;
}
section #image p{
	padding: 5px;
	font-size: 25px;
}

section .box{
	width: 50%;
}


/********************************************* FOOTER *********************************************/
/**************************************************************************************************/ 
footer{
	width: 100%;
}
footer #statistique{
	background: #1C628C;
	height: 200px;
}
footer #statistique h1{
	text-align: center;
	padding: 10px;
	color: white;
	font-family: Montserrat;
}
footer #basPage{
	background: #113A51;
}
footer #basPage p{
	color: white;
	font-family: lato;
}