<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h1>What's up buddy</h1>
    <p>
        {{ nombre_1 }} + {{ nombre_2 }}, ça fait <strong>{{ total }}</strong> !<br />
        Nous pouvons également calculer la somme dans le template : {{ nombre_1|add:nombre_2 }}.
        Vous avez {{ nombre_1}} message{{ nombre_1|pluralize }}.
    </p>

    Les couleurs de l'arc-en-ciel sont :

    <ul>
    {% for code, nom in couleurs.items %}
        <li style="color:#{{ code }}">{{ nom }}</li>
    {% endfor %}
</ul>
</body>
</html>